/* PORTFOLIO */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__filter {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.filter__btn {
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    background-color: var(--background-color-light);
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 22px;
    cursor: pointer;
    /*  властивості переходу  */
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus,
    &:active {
        color: var(--background-color-light);
        background-color: var(--brand-color-main);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &.current {
        color: var(--light-text-color);
        background-color: var(--brand-color-main);
    }
}

.portfolio__grid {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}

